<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title th:text="${title}"></title>
        <meta name="description" th:content="${description}"> 
        <meta name="Keywords" th:content="${keywords}"> 

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $( ".gal" ).hover(
                    function() {
                      $( this ).width(350);
                      $( this ).height(350);

                    }, function() {
                      $( this ).width(200);
                      $( this ).height(200);
                    }
                  );
                  
                $(".phone").click(function(){
                    var id = $(this).attr("id");
                    var id_array = id.split("_");
                    var apartment_id = id_array[1];
                    $.get( "/getphone/" + apartment_id, function( data ) {
                        $( "#phone_"+ apartment_id).html( data );
                    });
                });

            });
        </script>
    </head>
    <body>
        <header th:insert="blocks/header :: header"></header>
        <div class="container">
            <h3 th:text="${title}"></h3>
            <form method="get" action="/">
                <div class="form-group">
                    <label for="cityinput">Город</label>
                    <select name="city" class="form-select" aria-label="Default select example">
                         <option th:each="item: ${cities}" th:value="${item['key']}" th:text="${item['value']}" th:selected="${item['key'] == city}"  />
                    </select>
                </div>
                <div class="form-group">
                    <label for="addressinput">Адрес</label>
                    <input type="text" name="address" th:value="${address}" class="form-control" id="addressinput"  placeholder="Адрес">
                </div>
                <div class="form-group">
                    <label for="roomsinput">Комнат</label>
                    <input type="text" th:value="${rooms}" name="rooms" class="form-control" id="roomsinput"  placeholder="Комнат">
                </div>
                <div class="form-group">
                    Площадь от
                    <input type="text" name="squarefrom" th:value="${squarefrom}" class="form-control" id="squareinput"  placeholder="Площадь от">
                    Площадь до
                    <input type="text" name="squareto" th:value="${squareto}" class="form-control" id="squareinput"  placeholder="Площадь до">

                </div>
                <div class="form-group">
                    Цена от
                    <input type="text" name="costfrom" th:value="${costfrom}" class="form-control" id="costinput"  placeholder="Цена от">
                    Цена до
                    <input type="text" name="costto" th:value="${costto}" class="form-control" id="costinput"  placeholder="Цена до">
                </div>
                <div class="form-group">
                    <br>
                    <button type="submit" class="btn btn-success">Искать</button>
                </div>
            </form>
            
            <div clas="row p-5 m-5" th:style="${apartment.vip} ? 'border:2px solid #FFD700': 'test'" th:each="apartment: ${apartments}">
                <div class="row">                    
                    <div class="form-group">
                    <a style="float:left;" target="_blank" th:href="@{/view/{id}/(id=${apartment.id})}" th:text="'Квартира ' + ${apartment.rooms} + ' комнатная ' + ${apartment.rooms} + 'м² ' + ${apartment.address} + ' ' + ${apartment.cost} + 'р'"></a>
                    <button type="button" style="float:right;" class="phone btn btn-success btn-sm" th:id="'phone_' + ${apartment.id}">Телефон</button>
                    </div>
                </div>
                <div class="row">
                    <img th:each="image: ${apartment.getImages()}" class="gal"  style="float:left;margin: 5px;width:200px;height: 200px;" th:src="'/images/' + ${image.path} " ><br>
                </div>
                <hr>
            </div>
            
            <div class="row">
                <nav aria-label="Page navigation example">

                    <ul class="pagination" >
                        <li  th:each="pages: ${pager}"  th:class="${pages == page} ? 'page-item active': 'page-item '">
                            <a class="page-link" th:href="${href} + ${pages}" th:text=${pages}></a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>

        <div th:insert="blocks/footer :: footer"></div>
    </body>
</html>








        



