<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <header th:insert="blocks/header :: header"></header>
        <div class="container">
            
            <div class="alert alert-danger" th:if="${param.error}">
                Неправильные email или пароль или аккаут не активирован
            </div>
            <div class="alert alert-success" th:if="${param.logout}">
                You have been logged out.
            </div>
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="logininput">Email</label>
                    <input name="username" th:value="${email}" type="email" class="form-control" id="logininput" aria-describedby="emailHelp" placeholder="Введите email">
                </div>
                <div class="form-group">
                    <label for="logininput">Пароль</label>
                    <input name="password" th:value="${email}" type="password" class="form-control" id="logininput" aria-describedby="emailHelp" placeholder="Введите пароль">
                </div>
                <div class="form-group">
                    <br>
                    <button type="submit" class="btn btn-success">Войти</button>
                </div>
                <div class="form-group">
                    <br>
                        <a href="/resetpassword">Забыли пароль?</a>
                </div>
            </form>
        </div>

        <div th:insert="blocks/footer :: footer"></div>
    </body>
</html>








        
