<div th:fragment="footer">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="container">
            <ul style="float:left;">
                <li><a href="/?city=1">Купить квартиру Москва</a></li>
                <li><a href="/?city=2">Купить квартиру Санкт-Петербург</a></li>
                <li><a href="/?city=3">Купить квартиру Новосибирск</a></li>
                <li><a href="/?city=4">Купить квартиру Екатеринбург</a></li>
                <li><a href="/?city=5">Купить квартиру Казань</a></li>
                <li><a href="/?city=6">Купить квартиру Нижний Новгород</a></li>
                <li><a href="/?city=7">Купить квартиру Челябинск</a></li>
                <li><a href="/?city=8">Купить квартиру Самара</a></li>
                <li><a href="/?city=9">Купить квартиру Омск</a></li>
                <li><a href="/?city=10">Купить квартиру Ростов-на-Дону</a></li>
            </ul>
            <ul style="float:left;">
                <li><a href="/?city=11">Купить квартиру Уфа</a></li>
                <li><a href="/?city=12">Купить квартиру Красноярск</a></li>
                <li><a href="/?city=13">Купить квартиру Воронеж</a></li>
                <li><a href="/?city=14">Купить квартиру Пермь</a></li>
                <li><a href="/?city=15">Купить квартиру Волгоград</a></li>
                <li><a href="/?city=16">Купить квартиру Краснодар</a></li>
                <li><a href="/?city=17">Купить квартиру Саратов</a></li>
                <li><a href="/?city=18">Купить квартиру Тюмень</a></li>
                <li><a href="/?city=19">Купить квартиру Тольятти</a></li>
                <li><a href="/?city=20">Купить квартиру Ижевск</a></li>
            </ul>
            <ul style="float:left;">
                <li><a href="/?city=21">Купить квартиру Барнаул</a></li>
                <li><a href="/?city=22">Купить квартиру Ульяновск</a></li>
                <li><a href="/?city=23">Купить квартиру Иркутск</a></li>
                <li><a href="/?city=24">Купить квартиру Хабаровск</a></li>
                <li><a href="/?city=25">Купить квартиру Махачкала</a></li>
                <li><a href="/?city=26">Купить квартиру Ярославль</a></li>
                <li><a href="/?city=27">Купить квартиру Владивосток</a></li>
                <li><a href="/?city=28">Купить квартиру Оренбург</a></li>
                <li><a href="/?city=29">Купить квартиру Томск</a></li>
                <li><a href="/?city=30">Купить квартиру Кемерово</a></li>
            </ul>
            <ul style="float:left;">
                <li><a href="/?city=31">Купить квартиру Новокузнецк</a></li>
                <li><a href="/?city=32">Купить квартиру Рязань</a></li>
                <li><a href="/?city=33">Купить квартиру Астрахань</a></li>
                <li><a href="/?city=34">Купить квартиру Киров</a></li>
                <li><a href="/?city=35">Купить квартиру Пенза</a></li>
                <li><a href="/?city=36">Купить квартиру Севастополь</a></li>
                <li><a href="/?city=37">Купить квартиру Балашиха</a></li>
                <li><a href="/?city=38">Купить квартиру Липецк</a></li>
                <li><a href="/?city=39">Купить квартиру Чебоксары</a></li>
                <li><a href="/?city=40">Купить квартиру Чебоксары</a></li>

            </ul>
            <ul style="float:left;">
                <li><a href="/?city=41">Купить квартиру Тула</a></li>
                <li><a href="/?city=42">Купить квартиру Ставрополь</a></li>
                <li><a href="/?city=43">Купить квартиру Курск</a></li>
                <li><a href="/?city=44">Купить квартиру Улан-Удэ</a></li>
                <li><a href="/?city=44">Купить квартиру Сочи</a></li>
            </ul>
        </div>
    </footer>
</div>