<div th:fragment="header">    
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="/add">Подать объявление</a>

          
          <a sec:authorize="isAnonymous()" class="me-3 py-2 text-dark text-decoration-none" href="/registration">Регистрация</a>
          <a sec:authorize="isAnonymous()" class="me-3 py-2 text-dark text-decoration-none" href="/login">Авторизация</a>

          <a sec:authorize="isAuthenticated()" class="me-3 py-2 text-dark text-decoration-none" href="/apartments">Мои объявления</a>
          <a sec:authorize="isAuthenticated()" class="me-3 py-2 text-dark text-decoration-none" href="/settings">Настроки</a>

          <a sec:authorize="isAuthenticated()" class="me-3 py-2 text-dark text-decoration-none" href="/logout">Выход</a>

        </nav>
    </div>
</div>